:root {
	--align-items-pairs: (
		start: flex-start,
		center: center,
		end: flex-end,
		stretch: stretch,
		baseline: baseline
	);
	--align-content-pairs: (
		start: flex-start,
		center: center,
		end: flex-end,
		stretch: stretch,
		between: space-between,
		around: space-around,
	);
	--justify-content-pairs: (
		start: flex-start,
		center: center,
		end: flex-end,
		between: space-between,
		around: space-around,
		evenly: space-evenly
	);
}

@each $key, $value in var(--align-items-pairs) {

	.items-$(key) {
		align-items: $(value);
	}

}

@each $key, $value in var(--align-content-pairs) {

	.content-$(key) {
		align-content: $(value);
	}

}

@each $key, $value in var(--justify-content-pairs) {

	.justify-$(key) {
		align-content: $(value);
	}

}

@media all and (min-width: 48em) {

	@each $key, $value in var(--align-items-pairs) {

		.items-sm-$(key) {
			align-items: $(value);
		}
	
	}

	@each $key, $value in var(--align-content-pairs) {

		.content-sm-$(key) {
			align-content: $(value);
		}
	
	}
	
	@each $key, $value in var(--justify-content-pairs) {
	
		.justify-sm-$(key) {
			align-content: $(value);
		}
	
	}

}

@media all and (min-width: 64em) {

	@each $key, $value in var(--align-items-pairs) {

		.items-md-$(key) {
			align-items: $(value);
		}
	
	}

	@each $key, $value in var(--align-content-pairs) {

		.content-md-$(key) {
			align-content: $(value);
		}

	}

	@each $key, $value in var(--justify-content-pairs) {

		.justify-md-$(key) {
			align-content: $(value);
		}

	}

}

@media all and (min-width: 80em) {

	@each $key, $value in var(--align-items-pairs) {

		.items-lg-$(key) {
			align-items: $(value);
		}
	
	}

	@each $key, $value in var(--align-content-pairs) {

		.content-lg-$(key) {
			align-content: $(value);
		}

	}

	@each $key, $value in var(--justify-content-pairs) {

		.justify-lg-$(key) {
			align-content: $(value);
		}

	}

}