.items-start {
	align-items: flex-start;
}

.items-center {
	align-items: center;
}

.items-end {
	align-items: flex-end;
}

.items-stretch {
	align-items: stretch;
}

.items-baseline {
	align-items: baseline;
}

.content-start {
	align-content: flex-start;
}

.content-center {
	align-content: center;
}

.content-end {
	align-content: flex-end;
}

.content-around {
	align-content: space-around;
}

.content-between {
	align-content: space-between;
}

.content-stretch {
	align-content: stretch;
}

.justify-start {
	justify-content: flex-start;
}

.justify-center {
	justify-content: center;
}

.justify-end {
	justify-content: flex-end;
}

.justify-between {
	justify-content: space-between;
}

.justify-around {
	justify-content: space-around;
}

.justify-evenly {
	justify-content: space-evenly
}

@media all and (min-width: 48em) {

	.items-sm-start {
		align-items: flex-start;
	}
	
	.items-sm-center {
		align-items: center;
	}
	
	.items-sm-end {
		align-items: flex-end;
	}
	
	.items-sm-stretch {
		align-items: stretch;
	}
	
	.items-sm-baseline {
		align-items: baseline;
	}
	
	.content-sm-start {
		align-content: flex-start;
	}
	
	.content-sm-center {
		align-content: center;
	}
	
	.content-sm-end {
		align-content: flex-end;
	}
	
	.content-sm-around {
		align-content: space-around;
	}
	
	.content-sm-between {
		align-content: space-between;
	}
	
	.content-sm-stretch {
		align-content: stretch;
	}
	
	.justify-sm-start {
		justify-content: flex-start;
	}
	
	.justify-sm-center {
		justify-content: center;
	}
	
	.justify-sm-end {
		justify-content: flex-end;
	}
	
	.justify-sm-between {
		justify-content: space-between;
	}
	
	.justify-sm-around {
		justify-content: space-around;
	}
	
	.justify-sm-evenly {
		justify-content: space-evenly
	}

}

@media all and (min-width: 64em) {

	.items-md-start {
		align-items: flex-start;
	}
	
	.items-md-center {
		align-items: center;
	}
	
	.items-md-end {
		align-items: flex-end;
	}
	
	.items-md-stretch {
		align-items: stretch;
	}
	
	.items-md-baseline {
		align-items: baseline;
	}
	
	.content-md-start {
		align-content: flex-start;
	}
	
	.content-md-center {
		align-content: center;
	}
	
	.content-md-end {
		align-content: flex-end;
	}
	
	.content-md-around {
		align-content: space-around;
	}
	
	.content-md-between {
		align-content: space-between;
	}
	
	.content-md-stretch {
		align-content: stretch;
	}
	
	.justify-md-start {
		justify-content: flex-start;
	}
	
	.justify-md-center {
		justify-content: center;
	}
	
	.justify-md-end {
		justify-content: flex-end;
	}
	
	.justify-md-between {
		justify-content: space-between;
	}
	
	.justify-md-around {
		justify-content: space-around;
	}
	
	.justify-md-evenly {
		justify-content: space-evenly
	}

}

@media all and (min-width: 80em) {

	.items-lg-start {
		align-items: flex-start;
	}
	
	.items-lg-center {
		align-items: center;
	}
	
	.items-lg-end {
		align-items: flex-end;
	}
	
	.items-lg-stretch {
		align-items: stretch;
	}
	
	.items-lg-baseline {
		align-items: baseline;
	}
	
	.content-lg-start {
		align-content: flex-start;
	}
	
	.content-lg-center {
		align-content: center;
	}
	
	.content-lg-end {
		align-content: flex-end;
	}
	
	.content-lg-around {
		align-content: space-around;
	}
	
	.content-lg-between {
		align-content: space-between;
	}
	
	.content-lg-stretch {
		align-content: stretch;
	}
	
	.justify-lg-start {
		justify-content: flex-start;
	}
	
	.justify-lg-center {
		justify-content: center;
	}
	
	.justify-lg-end {
		justify-content: flex-end;
	}
	
	.justify-lg-between {
		justify-content: space-between;
	}
	
	.justify-lg-around {
		justify-content: space-around;
	}
	
	.justify-lg-evenly {
		justify-content: space-evenly
	}

}