:root {
	--box-align-pairs: (
		start: flex-start,
		center: center,
		end: flex-end,
		stretch: stretch,
		baseline: baseline
	);
	--box-to-pairs: (
		center: margin,
		top: margin-bottom,
		left: margin-right,
		bottom: margin-top,
		right: margin-left
	)
}

@each $key, $value in var(--box-align-pairs) {

	.box-align-$(key) {
		align-self: $(value)
	}

}

@each $key, $value in var(--box-to-pairs) {

	.box-to-$(key) {
		$(value): auto
	}

}

@for $i from 1 to 12 {

	.flex-row > .box-offset-$i {
		margin-left: var(--flex-$(i)-col);
	}

	.flex-row > .box-push-$i {
		margin-right: var(--flex-$(i)-col);
	}

	.flex-column > .box-offset-$i {
		margin-top: var(--flex-$(i)-col);
	}

	.flex-column > .box-push-$i {
		margin-bottom: var(--flex-$(i)-col);
	}

}

@media all and (min-width: 48em) {

	@each $key, $value in var(--box-align-pairs) {

		.box-sm-align-$(key) {
			align-self: $(value)
		}
	
	}
	
	@each $key, $value in var(--box-to-pairs) {
	
		.box-sm-to-$(key) {
			$(value): auto
		}
	
	}

	@for $i from 1 to 12 {

		.flex-row > .box-sm-offset-$i {
			margin-left: var(--flex-$(i)-col);
		}
	
		.flex-row > .box-sm-push-$i {
			margin-right: var(--flex-$(i)-col);
		}
	
		.flex-column > .box-sm-offset-$i {
			margin-top: var(--flex-$(i)-col);
		}
	
		.flex-column > .box-sm-push-$i {
			margin-bottom: var(--flex-$(i)-col);
		}
	
	}

}

@media all and (min-width: 64em) {

	@each $key, $value in var(--box-align-pairs) {

		.box-md-align-$(key) {
			align-self: $(value)
		}
	
	}
	
	@each $key, $value in var(--box-to-pairs) {
	
		.box-md-to-$(key) {
			$(value): auto
		}
	
	}

	@for $i from 1 to 12 {

		.flex-row > .box-md-offset-$i {
			margin-left: var(--flex-$(i)-col);
		}
	
		.flex-row > .box-md-push-$i {
			margin-right: var(--flex-$(i)-col);
		}
	
		.flex-column > .box-md-offset-$i {
			margin-top: var(--flex-$(i)-col);
		}
	
		.flex-column > .box-md-push-$i {
			margin-bottom: var(--flex-$(i)-col);
		}
	
	}

}

@media all and (min-width: 80em) {

	@each $key, $value in var(--box-align-pairs) {

		.box-lg-align-$(key) {
			align-self: $(value)
		}
	
	}
	
	@each $key, $value in var(--box-to-pairs) {
	
		.box-lg-to-$(key) {
			$(value): auto
		}
	
	}

	@for $i from 1 to 12 {

		.flex-row > .box-lg-offset-$i {
			margin-left: var(--flex-$(i)-col);
		}
	
		.flex-row > .box-lg-push-$i {
			margin-right: var(--flex-$(i)-col);
		}
	
		.flex-column > .box-lg-offset-$i {
			margin-top: var(--flex-$(i)-col);
		}
	
		.flex-column > .box-lg-push-$i {
			margin-bottom: var(--flex-$(i)-col);
		}
	
	}
	
}