[class^="box-flex"] {
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: auto;
}

@for $i from 1 to 12 {

	.box-flex-$i {
		flex-grow: $(i);
	}

}

@media all and (min-width: 48em) {

	@for $i from 1 to 12 {

		.box-sm-flex-$i {
			flex-grow: $(i);
		}
	
	}

}

@media all and (min-width: 64em) {

	@for $i from 1 to 12 {

		.box-md-flex-$i {
			flex-grow: $(i);
		}
	
	}

}

@media all and (min-width: 80em) {

	@for $i from 1 to 12 {

		.box-lg-flex-$i {
			flex-grow: $(i);
		}
	
	}

}