[class^="box"] {
	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: var(--flex-12-col);
	max-width: var(--flex-12-col);
	padding-left: var(--flex-gutter);
	padding-right: var(--flex-gutter);
	margin-bottom: var(--flex-room);
}

@for $i from 1 to 12 {

	.box-$i {
		flex-basis: var(--flex-$(i)-col);
	}

}

@media all and (min-width: 48em) {

	@for $i from 1 to 12 {

		.box-sm-$i {
			flex-basis: var(--flex-$(i)-col);
		}
	
	}

}

@media all and (min-width: 64em) {

	@for $i from 1 to 12 {

		.box-md-$i {
			flex-basis: var(--flex-$(i)-col);
		}
	
	}

}

@media all and (min-width: 80em) {

	@for $i from 1 to 12 {

		.box-lg-$i {
			flex-basis: var(--flex-$(i)-col);
		}
	
	}

}