:root {
	--flex-flow-pairs: (
		row: row wrap, 
		reverse: row-reverse wrap, 
		column: column wrap, 
		column-reverse: column-reverse wrap
	)
}

.flex-container {
	position: relative;
	font-size: var(--flex-font-size);
	width: var(--flex-width);
	max-width: var(--flex-max-width);
	padding-left: var(--flex-gutter);
	padding-right: var(--flex-gutter);
	margin-left: var(--flex-space);
	margin-right: var(--flex-space);
}

[class^="flex-row"],
[class^="flex-column"] {
	display: flex;
	margin-left: var(--flex-negative-gutter);
	margin-right: var(--flex-negative-gutter);
}

@each $class, $value in var(--flex-flow-pairs) {

	.flex-$(class) {
		flex-flow: $(value);
	}

}

@media all and (min-width: 48em) {

	@each $class, $value in var(--flex-flow-pairs) {

		.flex-sm-$(class) {
			flex-flow: $(value);
		}
	
	}

}

@media all and (min-width: 64em) {

	@each $class, $value in var(--flex-flow-pairs) {

		.flex-md-$(class) {
			flex-flow: $(value);
		}
	
	}

}

@media all and (min-width: 80em) {

	@each $class, $value in var(--flex-flow-pairs) {

		.flex-lg-$(class) {
			flex-flow: $(value);
		}
	
	}

}